<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projecto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.example.projecto.AppNotificationChannel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <receiver android:name="com.example.projecto.receivers.BootCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.projecto.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projecto.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.ProjectActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.EditProjectActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.ViewProjectActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.AddProjectActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projecto.RegisterActivity"
            android:exported="true" /> <!-- For broadcast receiver -->
        <service android:name="com.example.projecto.services.ProjectService"/>

    </application>

</manifest>